<main><!-- Activity s05.1 -->
	<section><!-- Scenario A -->
		<!-- You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->
		<!-- code snippet -->
			<!--maxlength Attribute will determine the upperlimit of the input -->
				<input type="text" id="username" name="username" maxlength="15"><br><br> 
	  			<input type="submit" value="Submit">
	  				<!-- reference -->
	  					<!-- https://www.w3schools.com/tags/att_input_maxlength.asp -->
	  					<!-- https://www.tutorialspoint.com/How-to-limit-the-number-of-characters-allowed-in-form-input-text-field  -->
	</section>
	<section><!-- Scenario B -->
		<!-- You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->
		<!-- code snippet -->
			<!-- use the alt attribute to display a text message when the image is not displayed -->
			<!-- the snippet is trying to display the same image, the second img src is purposedly modified to be broken, an alt attribute will display a broken image message to notify the the img link is not working -->
				<img src="https://images-na.ssl-images-amazon.com/images/I/218eLEn0fuL.png" alt="broken image" style="width: 120px">
				<img src="https://images-na.ssl-images-amazon.com/images/I/218eLE.png" alt="broken image" style="width: 120px">
				<!-- reference -->
					<!-- https://stackoverflow.com/questions/61786094/replace-broken-image-with-text -->
					<!-- https://stackoverflow.com/questions/22051573/how-to-hide-image-broken-icon-using-only-css-html/37192970#37192970 -->
	</section>
	<section><!-- Scenario C -->
		<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->
		<!-- code snippet -->
			<!-- using <code> tag will display wrapped line/lines of code as plain text -->
				<code>
					<label for="name">Name</label>
					<input type="text" name="name" id="name">
				</code>
				<!-- reference -->
					<!-- https://www.w3schools.com/tags/tag_code.asp -->
					<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code -->
	</section>
	<section><!-- Scenario D -->
		<!-- Stretch Goal: You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->
		<!-- code snippet -->
		<!-- create a class on css to create the layout for the images stored/added on HTML and control the scrolling with a JS script -->
		<section><!-- HTML side -->
			<div class="wrapper">
				  	<div class="imageContainer">
					    <div class="image"></div>
					    <div class="image"></div>
					    <div class="image"></div>
					    <div class="image"></div>
					    <div class="image"></div>
					    <div class="image"></div>
					    <div class="image"></div>
					    <div class="image"></div>
	  			</div>
			</div>
		</section>
		<section><!-- CSS side -->
			.wrapper{
			    overflow: hidden;
			}

			.imageContainer{
			  display: flex;
			  flex-direction: row;
			  gap: 25px;
			  width: 200%;
			}

			.imageContainer .image{
			  height: 275px;
			  width: 100%;
			  background-image: url('https://images.unsplash.com/photo-1538947151057-dfe933d688d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
			    background-size: cover;
			}

			.image:nth-child(odd){
			  background-image: url('https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2372&q=80')
			}
		</section>
		<section><!-- JS side -->
			let loop = horizontalLoop(".image", {speed: 1, repeat: -1, paddingRight: 25});

			function setDirection(value) {
			  if (loop.direction !== value) {
			    gsap.to(loop, {timeScale: value, duration: 0.3, overwrite: true});
			    loop.direction = value;
			  }
			}

			Observer.create({
			  target: window,
			  type: "wheel,scroll,touch",
			  onDown: () => setDirection(1),
			  onUp: () => setDirection(-1)
			})
		</section>
			<!-- reference -->
				<!-- https://greensock.com/forums/topic/33815-auto-infinite-scroll-image-gallery/ -->
				<!-- https://www.magictoolbox.com/magicscroll/integration/ -->
	</section>
</main>