/*INDEX.CSS*/
/*google font*/
body{
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*CSS Reset Rulet*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav	{
	/*shorthand property*/
	padding: 0.8rem;
	/*padding-top: 0.8rem
	padding-left: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	
}
/*Margin vs Padding*/
/*Margin is best used when creating spaces between elements*/
/*Padding is best used when creating spaces between element's border and its content*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;

}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro-about{
	text-align: justify;
}

#intro button{
	padding: 1rem ;
	color: white;
	border-color: gray;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	font-weight: bold;
}

.header {
	text-align: center;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}
#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info p {
	margin-bottom: .5rem;
}

.card{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: .5rem;
	margin-right: .5rem;
}

footer {
	
	padding: .5rem;
	border-top: 3px solid gray;
}
footer span	{
	margin-left: .5rem;
	margin-right: .5rem;
}

#pre-footer {
	margin-top: auto;
	padding: 1rem;
	color: white;
	background-color: #002540;
	vertical-align: bottom;
}

#pre-footer div {
	width: 20%;
	display: inline-block;
	margin-bottom: .3rem;
	margin-top: .3rem;
}

