/*External Styling*/ 
/*CSS SYNTAX*/
/* A CSS rule-set consists of a selector and declaration block*/
/*Selector determines which element will the styling be applied to*/
/*type Selector -  target element with the specified type/tag name*/
	h1{
		/*declaration block*/
		/*color - property (the selected styling attribute to be modified in a given selector)*/
		/*yellow - value (the modified value of the selected styling attribute)	*/
		color: indianred;	
		text-align: center;
		font-size: 2rem;
	}

/*Universal Selector (lowest priority) - targets all elements*/
*{
	font-family: "Arial", monospace;
	font-size: 20px;

}

/*ID Selector (highest priority)*/
#zuitt-motto{
	color: Red;
	font-size: 30px;
	letter-spacing: 2px;
}
 h3{
 	letter-spacing: 25px !important;
 }

/*class selector - tragets elements according to its class attrib*/
.offering-item{
	text-transform: uppercase;
}

/*attribute selector - targets elements with a specified attribute; used to target elements with a certain attribute*/
/*tagName[attribute]*/
input[required] {
	border-width: 3px;
	border-style: solid;
	border-color: navy;
	width: 50%;
	
}

form {
	
	background-color: white;
	border-style: solid;
	border-width: 3px;
	text-align: right;
	width: 25vh;
	position: relative;
	left: 39.27%;

}

button {
	border: 0;
	border-radius: 10px;
	background-color: magenta;

}

/*specificity rule
the following order
1 ID
2 Class
3 attribute
4 type
5 universal
*/

/*specificity rule
the following order
1 inline
2 internal
3 external
*/


/* !important - has the highest priority*/

/*CSS Combinators*/
/*Adjacent Sibling Selector (+) - targets element immediately following  another element, which must be its sibling and located rightafter eachother in the HTML Structure*/
/*selector + Selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector (Whitespace) -  targets any element that is a descendant of another element*/
/*selector selector*/

#bootcamp-learning-list li {

	color: #FF7F3F;
	list-style: none;
}
/*General Sibling Selector (~) - targets all element that follow another element and share the same parent*/
/*selector ~ selector*/
h2 ~ a, {
	text-decoration: none;
}

/*child selector (>) - targets all the element that is a child of*/
/*selector > selector*/
body > section > form > label {
	color: rgb(200, 100, 50);
}

body {

	background-color: lightblue;
}
nav {
	text-decoration: none;
	background-color: white;
}
a:hover{
	background-color: lightblue;
}

div{
	display: inline-block;
	float: right;
}

section{
	height: 100vh;
	text-align: center;
}