*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", monospace;
	min-height: 200vh;
	
}
/*nav bar*/
.nav,.nav-logo{
	display: inline;
	margin: 10px;
	font-weight: bold;
	float: left;
	text-align: center;
}


 .right-nav {
 	display: inline;
 	margin: .5rem;
 	float: right;
 	

}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 20px;
	border: 0;
}

nav {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 5;
}

.navContainer {
	min-height: 10vh;
	width: 100vw;
	background-color: white;
}



/*navbar end*/

/*landing section*/

#bg-image {
	min-height: 50vh;
	width: 100vw;
	z-index: 1;
	

}
.front-bg {
	height: 50vh;
	width: 100vw;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-attachment: scroll;
	background-position: center ;
	background-repeat: no-repeat;
	
}

.container{
	background-color: rgba(0, 0, 0, .5);
	background-size: 100%;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	image-resolution: 100%;
}

.title {
	font-family: "Zillsa Slab", serif;
	font-size: 3rem;
	padding: 2px;
	color: white;
	width: 40%;
	top: 3rem;
	left: 50vw;
	margin-left: 10px;
	margin-bottom: 10px;
	position: relative;
}

.subtitle {
	font-size: 14px;
	color: white;
	width: 25%;
	letter-spacing: 2px;
	position: relative;
	left: 65.5vw;
	top: 3rem;
}

.title, .subtitle{
	text-align: right;
}

.apply-button {
	border: 0;
	border-radius: 20px;
	color: white;
	background-color: #c2195b;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	left: 85vw;
	top: 4rem;
}


/*landing end*/

/*intro*/
.intro{
	min-height: 25vh;
	margin: 2rem;
}
.title-2 {
	font-family: "Zilla Slab", serif;
	font-size: 2.5rem;
	text-align: center;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.intro-description{
	width: 50vw;
	text-align: justify;
	font-size: 1rem;
	margin: auto;
}

/*intro end*/

/*prefooter*/
.pre-footer {
	background-color: #f7fbfb;
	min-height: 25vh;
}

.prefooter-description {
	width: 50vw;
	text-align: justify;
	font-size: 1rem;
	margin: auto;

}

.book-button{
	border: 0;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #336589;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;

}

/*prefooter end*/

/*footer*/

footer {
	display: block;
	margin: auto;
	border-radius: 3px solid green;
	text-align: center;
}

span {
	margin: 10px;
}