/*external styling on p tag*/
p{
	color: green;
}
*{
	font-family: "Arial Black", monospace ;
	font-size: 14px;
}

h1{
	font-size: 20px;
}

h2{
	text-transform: uppercase;
}

.languagesToLearn{
	background-color: palegreen;
}

ol[type]{
	border-style: solid;

}

img + ul{
	list-style: lower-roman;
}

section img	{
	height: 400px;
	width: 400;
	border-radius: 170px;
}
h4 ~ p {

	text-align: center;
}

body > section > ul >li {

	letter-spacing: 5px;
}